<div class="relative" ...attributes>
    <div class="relative z-20">
        <div class="max-w-7xl mx-auto flex justify-between items-center px-4 py-5 sm:px-6 sm:py-4 lg:px-8 md:justify-start md:space-x-10">
            <div class="flex items-center">
                <LinkTo @route="home" class="flex items-center">
                    <img class="h-8 w-auto sm:h-10" src="/images/hahaha.gif" alt="ron.dev">
                    <h3 class="ml-5 font-bold text-base text-green-500">ron.dev</h3>
                </LinkTo>
            </div>
            <div class="-mr-2 -my-2 md:hidden">
                <button {{on "click" this.toggleMobileMenu}} type="button" class="bg-white dark:bg-gray-800 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open menu</span>

                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
            <div class="hidden md:flex-1 md:flex md:items-center md:justify-between">
                <nav class="flex space-x-10 lowercase">
                    <LinkTo @route="posts" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        Posts
                    </LinkTo>
                    <LinkTo @route="projects" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        Projects
                    </LinkTo>
                    <LinkTo @route="travels" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        Travels
                    </LinkTo>
                    <LinkTo @route="gaming" class="text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-gray-200">
                        Gaming
                    </LinkTo>
                </nav>
                <div class="flex items-center md:ml-12">
                    <Switch @isActive={{eq @theme "dark"}} @label="Night Mode" @onToggle={{this.onToggleTheme}} />
                </div>
            </div>
        </div>
    </div>
    {{#if this.mobileMenuIsOpen}}
        <div class="z-40 absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white dark:bg-gray-800 divide-y-2 divide-gray-50">
                <div class="pt-2 pb-6 px-2">
                    <div class="flex items-center justify-between">
                        <div>
                            <LinkTo @route="home" class="flex items-center">
                                <img class="h-8 w-auto sm:h-10" src="/images/hahaha.gif" alt="ron.dev">
                                <h3 class="ml-5 font-bold text-base text-green-500">ron.dev</h3>
                            </LinkTo>
                        </div>
                        <div class="-mr-2">
                            <button {{on "click" this.closeMobileMenu}} type="button" class="bg-white dark:bg-gray-800 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                                <span class="sr-only">Close menu</span>
                                <!-- Heroicon name: outline/x -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="mt-6">
                        <nav class="grid gap-y-5 lowercase">
                            <a href="javascript:;" {{on "click" (fn this.transitionTo "posts")}} class="p-3 flex items-center rounded-md hover:bg-gray-50 dark:hover:bg-gray-900 dark:hover:text-gray-200">
                                <span class="ml-2 text-base font-medium text-gray-900 dark:text-gray-200">
                                    Posts
                                </span>
                            </a>
                            <a href="javascript:;" {{on "click" (fn this.transitionTo "projects")}} class="p-3 flex items-center rounded-md hover:bg-gray-50 dark:hover:bg-gray-900 dark:hover:text-gray-200">
                                <span class="ml-2 text-base font-medium text-gray-900 dark:text-gray-200">
                                    Projects
                                </span>
                            </a>
                            <a href="javascript:;" {{on "click" (fn this.transitionTo "travels")}} class="p-3 flex items-center rounded-md hover:bg-gray-50 dark:hover:bg-gray-900 dark:hover:text-gray-200">
                                <span class="ml-2 text-base font-medium text-gray-900 dark:text-gray-200">
                                    Travels
                                </span>
                            </a>
                            <a href="javascript:;" {{on "click" (fn this.transitionTo "gaming")}} class="p-3 flex items-center rounded-md hover:bg-gray-50 dark:hover:bg-gray-900 dark:hover:text-gray-200">
                                <span class="ml-2 text-base font-medium text-gray-900 dark:text-gray-200">
                                    Gaming
                                </span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>