<Root @theme={{this.theme}} @onInsert={{this.initialize}}>
    <Header @theme={{this.theme}} @onToggleTheme={{this.toggleTheme}} />
    <Body class="dark:text-gray-400 my-14">{{outlet}}</Body>
    <Footer />
</Root>